.userItem {
  margin-left: 20px;
  width: 70%;
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 10fr;
  gap: 10px;
}

.image {
  text-align: center;
}

.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 2px solid #7e7e7e;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  object-position: center center;
}

.followBtn {
  display: block;
  background-color: #0ee661;
  border: none;
  width: 115px;
  height: 35px;
  font-size: 16px;
  margin: 0 auto;
}

.location {
  text-align: right;
}

.name {
  margin-bottom: 20px;
}

.country {
  margin-bottom: 5px;
}

.name,
.country,
.city {
  font-weight: 600;
}
